<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      
    </style>
  </head>
  <body>
    <h1><%= title %></h1> 
    <h1><%-include('top.ejs)%></h1>
    <p>아래에서 원하는 검색을 선택하세요 </p>
    <a href="/books">도서 검색하기</a>
    <hr>
    <a href="/users">users 정보 보기</a>
    <hr>
    <a href="/movies">영화 검색하기</a>
    <hr>
    <a href="/goods">상품 검색하기 </a>
    <hr>
  </body>
</html>

