
<div class = "divMenu"> <!-- css할때는 클래스를 많이쓴다.-->
    <a href="/">Home</a>
    <a href="/books" class="item">도서 검색</a> <!-- 여기에 라우터의 주소를 넣어줘야한다.-->
    <a href="/movies" class="item">영화 검색</a>
    <a href="/goods" class="item">상품 검색</a>
    <a href="/bbs" class = "item" style="float: right;">게시판으로 가기</a>
    <a href="/users">User</a>
    <hr>
</div>
