<h1><%=title%></h1>
<div class = "row mb-2">
    <div class = "col-6 col-md-4"> <!-- 해상도에 따라 큰거일때 6 작은거일때 4로 한다.-->
        <form action="" class="input-group" name = "frm">
            <input type="text" class = "form-control form-control-lg" name = "query" value = "뉴욕" placeholder="검색하실 이미지의 이름을 입력하세요">
            <button class="btn btn-primary">검색</button>
            <br><br>
        </form>
    </div>
</div>

<!--도서 템플릿 -->
<script id = "tempImage" type="X-handlebars-template">
    {{#each documents}}
        <div class="col-lg-2 col-md-4 col-6 mb-3">
            <div class = "card">
                <div class = "card-body" url="{{doc_url}}">
                    <img src={{check thumbnail_url}} width="90%" id={{@index}} style = "cursor : pointer;">
                </div>
                <div class = "card-footer">
                    <div class ="ellipsis title">{{display_sitename}}</div>
                    <hr>
                    <div class ="ellipsis">{{fmtDate datetime}}</div>
                </div>
            </div>
        </div>
    {{/each}}
</script>
<div id = "divImage" class="row"></div>
<div class = "text-center my-4"> <!-- my는 마진 y축이라는 뜻-->
    <button class = "btn btn-primary" id = "prev">이전</button>
    <span class = "mx-2" id = "page"><b>1</b></span> <!-- 같은줄에 하기위해 div아니고 span으로 한거임. -->
    <button class = "btn btn-danger" id = "next">다음</button>
</div>
<!-- 이미지유무체크 함수 -->
<script>
    Handlebars.registerHelper("check", function(thumbnail){
        if(thumbnail){
            return thumbnail;
        }else{
            return "http://via.placeholder.com/146x211"
        }
    });
</script>

<script>
    let myQuery = $(frm.query).val(); //frm폼안에있는 query에 있는 밸류값을 들고와서 qeury변수 안에 넣어준다.
    let page = 1;
    dataGet(); // 이거 함수를 호출

    //row를 클릭했을때 
    $("#divImage").on("click", ".card-body", function(){
        const url = $(this).attr("url");
        window.open(url, '_black')
    })




    //다음버튼 클릭
    $("#next").on("click", function(){//page를 1업하고 싶은데 page의 변수가 없으니 전역변수로 하나 설정해주자
        page++;
        dataGet();
    });
    $("#prev").on("click", function(){//page를 1업하고 싶은데 page의 변수가 없으니 전역변수로 하나 설정해주자
        page--;
        dataGet();
    });

    $(frm).on("submit", function(e){ //frm 이 submit이벤트를  function(e)에 넣어줌. 
        e.preventDefault(); //e를 막아라.
        myQuery=$(frm.query).val();
        if(myQuery == ""){
            alert("검색하실 제목을 입력하세요.")
        }else{
            page = 1; 
            dataGet();
        }
    });
    function dataGet(){ //데이터를 가져오는 함수다.
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v2/search/image",
            dataType:"json",
            data:{"query": myQuery, size:24, page:page}, //어떤거 검색할건지
            headers:{"Authorization":"KakaoAK 89e3021ad2846184fd12b67daf705b0f"},
            success:function(data){
                // alert("성공~");
                console.log(data);
                const temp = Handlebars.compile($("#tempImage").html()); // tempBook 템플릿을 html형식으로 컴파일해서 temp에 넣어주기
                $("#divImage").html(temp(data)); //divBook에 컴파일한temp안에 데이터를 넣고 html형식의. 
                const last = 
                Math.ceil(data.meta.pageable_count/24);
                $("#page").html(`<b>${page}/${last}</b>`);
                if(page == 1){
                    $("#prev").attr("disabled", true)
                }else{
                    $("#prev").attr("disabled", false)
                }
                if(data.meta.is_end){
                    $("#next").attr("disabled", true)
                }else{
                    $("#next").attr("disabled", false)
                }
            }
        })
    }
</script>

<script>
    Handlebars.registerHelper('fmtDate', function(date){ //function(date)의 date는 datetime을 받아오는것이다.
        const yy = date.substring(2,4); //0부터 4번앞에까지
        const mm = date.substring(5,7);
        const dd = date.substring(8,10);
        const fmtdate = `${yy}년${mm}월${dd}일`
        return fmtdate;
        // return date.substr(0,10);
    });
</script>






