<h1><%=title%></h1>
<div class = "row mb-2">
    <div class = "col-6 col-md-4"> <!-- 해상도에 따라 큰거일때 6 작은거일때 4로 한다.-->
        <form action="" class="input-group" name = "frm">
            <input type="text" class = "form-control form-control-lg" name = "query" value = "웹개발자" placeholder="검색하실 책제목을 입력하세요">
            <button class="btn btn-primary">검색</button>
            <br><br>
        </form>
    </div>
</div>
<div id = "divBook" class="row"></div>
<script id = "tempBook" type="X-handlebars-template">
    {{#each documents}}
        <div class="col-lg-2 col-md-4 col-6 mb-3">
            <div class = "card">
                <div class = "card-body">
                    <img src={{thumbnail}} width="90%">
                </div>
                <div class = "card-footer">
                    <div class ="ellipsis title">{{title}}</div>
                    <hr>
                    <div class ="ellipsis">{{datetime}}</div>
                    <hr>
                    <div class ="ellipsis">{{authors}}</div>
                </div>
            </div>
        </div>
    {{/each}}
</script>

<script>
    let myQuery = $(frm.query).val(); //frm폼안에있는 query에 있는 밸류값을 들고와서 qeury변수 안에 넣어준다.
    dataGet(); // 이거 함수를 호출
    $(frm).on("submit", function(e){ //frm 이 submit이벤트를  function(e)에 넣어줌. 
        e.preventDefault(); //e를 막아라.
        myQuery=$(frm.query).val();
        if(myQuery == ""){
            alert("검색하실 제목을 입력하세요.")
        }else{
            dataGet();
        }
    });
    function dataGet(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v3/search/book?target=title",
            dataType:"json",
            data : { "query": myQuery, size:12, page:1}, //어떤거 검색할건지
            headers:{"Authorization":"KakaoAK 89e3021ad2846184fd12b67daf705b0f"},
            success:function(data){
                // alert("성공~");
                console.log(data);
                const temp = Handlebars.compile($("#tempBook").html()); // tempBook 템플릿을 html형식으로 컴파일해서 temp에 넣어주기
                $("#divBook").html(temp(data)); //divBook에 컴파일한temp안에 데이터를 넣고 html형식의. 
            }
        })
    }
</script>